<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit product</title>
</head>
<body>
<h1>Edit product</h1>
<p>
    <a href="/products">Product list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/edit-product}" th:object="${product}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>name:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Price:</td>
            <td><input type="text" th:field="*{price}"/></td>
        </tr>
        <tr>
            <td>quanlity:</td>
            <td><input type="text" th:field="*{quality}"/></td>
        </tr>
        <tr>
            <td>color:</td>
            <td><input type="text" th:field="*{color}"/></td>
        </tr>
        <tr>
            <td>description:</td>
            <td><input type="text" th:field="*{description}"/></td>
        </tr>
        <tr>
            <td>Category:</td>
<!--            <td>-->
<!--                <select name="province">-->
<!--                    <option th:each="p : ${provinces}"-->
<!--                            th:value="${p.id}"-->
<!--                            th:text="${p.name}"-->
<!--                            th:selected="(${customer.province}) and (${p.id} == *{province.id})"></option>-->
<!--                </select>-->
<!--            </td>-->
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update Product"></td>
        </tr>
    </table>
</form>
</body>
</html>